src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:integer"/>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="completed" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
